.footer_simple {
  width: 100%;
  float: left;
  bottom: 0;

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  ul li a {
    text-decoration: none;
    color: white;
    padding: 10.5px 11px;
    background-color: #005555;
    display:block;
  }

  ul li a:visited {
    color: white;
  }

  ul li a:hover, .menu_simple ul li .current {
      color: white;
      background-color: #5FD367;
  }
}
